{% extends 'template.html.twig' %}
{% block title %}Formulaire d'edit {% endblock %}
{% block body %}
    <div class="container mt-4">
        {{  include ('reponse/form.html.twig', { button: 'Editer'}) }}
    </div>
{% endblock %}