{% extends 'template.html.twig' %}

{% block body %}
    <div class="container mt-4">
    <h1>Editer les questions</h1>
    {{  include ('question/form.html.twig', { button: 'Editer'}) }}
{% endblock %}