{% extends 'template.html.twig' %}
{% block title %}Formulaire d'ajout {% endblock %}
{% block body %}
    <div class="container mt-4">
        {{  include ('sprint/form.html.twig', { button: 'Créer'}) }}
    </div>
{% endblock %}

