{% extends 'template.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Create new sprint</h1>
        {{  include ('sprint/form.html.twig', { button: 'Créer'}) }}
    </div>
{% endblock %}

