{% extends 'template.html.twig' %}
{% block title %}Formulaire d'edit {% endblock %}
{% block body %}
    <div class="container mt-4">
{#        <h2>{{ project.name}} / Modifier {{ task.taskName }}</h2>#}
        {{  include ('task/form.html.twig', { button: 'Editer'}) }}
    </div>
{% endblock %}

