{% extends 'template.html.twig' %}
{% block title %}Formulaire d'update {% endblock %}
{% block body %}
    <div class="container mt-4">
        {{  include ('task/form_update.html.twig', { button: 'Update'}) }}
    </div>
{% endblock %}

