{% extends 'template.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Mise à jours de la tâche {{ task.taskName }}</h2>
        {{  include ('task/form_update.html.twig', { button: 'Update'}) }}
    </div>
{% endblock %}

