{% extends 'template.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer nouvelle quiz</h1>
        {{  include ('quiz/form.html.twig', { button: 'Créer'}) }}
    </div>
{% endblock %}