<!DOCTYPE html>
<html lang="fr">
   {% include'vues/head.html.twig' %}

    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {% include'vues/header.html.twig' %}

            <!-- Left side column. contains the logo and sidebar -->
            {% include'vues/sidebar.html.twig' %}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {% block body %}{% endblock %}
            </div>

            <!-- /.content-wrapper -->
            {% include'vues/footer.html.twig' %}
        </div>
        {% include'vues/js.html.twig' %}

        {% block js %}
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}
    </body>
</html>
