<!DOCTYPE html>
<html lang="fr">
   {% include'vues/head.html.twig' %}

    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {% include'vues/header.html.twig' %}

            <!-- Left side column. contains the logo and sidebar -->
            {% include'vues/sidebar.html.twig' %}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        {% if ( label == 'success' ) %}
                            <div class="alert alert-success alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% elseif ( label == 'error' ) %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>

            <!-- /.content-wrapper -->
            {% include'vues/footer.html.twig' %}
        </div>
        {% include'vues/js.html.twig' %}

        {% block js %}
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}
    </body>
</html>
