{% extends 'template.html.twig' %}

{% block body %}
    <div class="container mt-4">
    <h1>Editer les contrats</h1>
    {{  include ('contrat/form.html.twig', { button: 'Editer'}) }}
{% endblock %}